# Patterns to ignore when building packages.
*.swp
*.bak
*.tmp
*.orig
*~
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Icon?
Thumbs.db
.vscode/
.idea/
*.iml
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
.project
.idea/
*.tmproj
.vscode/
